<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DDT_Framework_suite">
  <test thread-count="5" name="Test_001_bankManagerLogin">
    <classes>
      <class name="com.TestCases.TestCase001_BankManagerLogin"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Test_002_AddCustomer">
    <classes>
      <class name="com.TestCases.TestCase002_AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
